include ../partials/header
.row
        .col-md-6.dell_index
            form
                .form-group
                    label IP address
                    input.form-control(type='ip', placeholder='Enter IP address',required)
                .form-group
                    label Port number
                    input.form-control(type='password', placeholder='Enter Port number',required)
                button.btn.btn-primary(type='submit') Scan
.row
        .col-md-6(style="overflow-x: auto")
            table.table(style="overflow: scroll;")
                thead.thead-dark
                    tr
                        th(scope='col') Name
                        th(scope='col') View
                        th(scope='col') Edit
                        th(scope='col') Delete
                    tr
                        td Otto
                        td 
                            i.fa.fa-eye 
                        td
                            i.fa.fa-edit
                        td
                            i.fa.fa-trash
                    tr
                        td Thornton
                        td 
                            i.fa.fa-eye 
                        td
                            i.fa.fa-edit 
                        td
                            i.fa.fa-trash
                    tr
                        td the Bird
                        td 
                            i.fa.fa-eye 
                        td
                            i.fa.fa-edit 
                        td
                            i.fa.fa-trash

include ../partials/footer